
//- よく出てくるもの
変数
  var
  let
  const // 今回使うもの

queryselector
querySelectorAll
getElementById // 今回使うもの

addeventlistener
  load
  DOMContentLoaded
  click // 今回使うもの
  scroll

classList
  add
  remove
  contains
  toggle // 今回使うもの

setinterval
setTimeout

for文
if文

関数 (funcNameは任意の名前)
  // 1
  function funcName() {
    console.log('Hello');
  }
  funcName(); // 'Hello'

  // 2
  let funcName = function() {
    console.log('Hello');
  };
  funcName(); // ‘Hello'

  // 3
  let funvName = () => {
    console.log('Hello');
  };
  funcName(); // ‘Hello'
